{% extends 'admins/base.html' %}
{% load static %}

{% block content %}
      <h2 class="text-center pt-4">Edit Book</h2>
      <div class="w-50 mx-auto mb-3 card px-4 py-3 shadow-lg position-static">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label">Title:</label>
            <input type="text" class="form-control" required name="title" value="{{book.title}}" />
          </div>
          <div class="mb-2">
            <label for="exampleInputPassword1" class="form-label">Author:</label>
            <input type="text" class="form-control" required name="author" value="{{book.author}}" />
          </div>
          <div class="mb-2">
            <label for="exampleInputPassword1" class="form-label">ISBN_No:</label>
            <input type="number" class="form-control" required name="isbn" value="{{book.isbn}}" />
          </div>
          <div class="mb-2">
            <label for="exampleInputPassword1" class="form-label">Rating:</label>
            <input type="number" class="form-control" required name="rating" value="{{book.rating}}" />
          </div>
          <div class="mb-2">
            <label for="exampleInputPassword1" class="form-label">Pages:</label>
            <input type="number" class="form-control" required name="pages" value="{{book.pages}}" />
          </div>
          <div class="mb-2">
            <label for="exampleInputPassword1" class="form-label">Image:</label>
            <input type="file" class="form-control" required name="image" />
          </div>
          <div class="mb-2">
            <label for="exampleInputPassword1" class="form-label">Pdf:</label>
            <input type="file" class="form-control" required name="pdf" />
          </div><br />
          <div class="text-center">
            <button type="submit" class="btn btn-primary w-25">Update Book</button>
          </div>
        </form>
      </div>
    {% endblock %}
